.container {
    border: 1px black solid;
    background-color: rgb(221, 216, 216);
    padding: 10px;
    text-align: left;
}
body {
    background: linear-gradient(0, #5b5974, transparent), url("../images/43y3hub4k1nh321.png");
    font-family: 'Baloo Thambi', cursive;
}
.jumbotron {
    background-color: rgb(221, 216, 216);
    text-align: center;
    height: 375px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
#petPics {
    width: 75%;
}


#petContainer {
    height: 50%;

}

.picture-container {
    border: 1px black solid;
    background-color: rgb(221, 216, 216);
    padding: 10px;
    text-align: center;
}

#petContainer {
    background-size: 96%;
    height: 100%;
}

#petfinderInfo{
    margin-left: 5%;
    width: 8444px; 
    /* height for hover */
    height: 260px!important; 
    padding-bottom: 0%; 
    transform: translate3d(-4368px, 0px, 0px);

}

#petDesc{
    overflow: hidden;
}


.container .Container1 {
    border: black;
}

.desc { 
    background: rgb(245, 242, 242);
    border: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
}